<!--Header Begin-->
{%extends "header.html"%}
{%load staticfiles%}
{% block content%}

<!--SubPage Toprow Begin-->
<div id="toprowsub">
  <div class="center">
    <h2>About Us</h2>
  </div>
</div>
<!--Toprow END-->
<!--SubPage MiddleRow Begin-->
<div id="midrow">
  <div class="center">
    <div class="textbox2">
      <p><a>Somos buena gente, aquí se escribe una descripción de nosotros y tal gege..</a></p>
      <p><a>
      <p><a></a></p>
    </div>
  </div>
</div>
<!--MiddleRow END-->
<!--SubPage BottomRow Begin-->
<div id="bottomrow">
  <div id="box2holder">
    <h1>Our Team</h1>
    <div class="box2"> <img alt="" src="images/sampleimg.gif" width="190" height="120" />
      <h3>Juan Ignacio Álvarez Arenas</h3>
      <p><a>Estudiante de Ingeniería de la Salud.</a></p>
    </div>
    <div class="box2"> <img alt="" src="images/sampleimg.gif" width="190" height="120" />
      <h3>Pablo Rodriguez</h3>
      <p><a>Estudiante de Ingeniería de la Salud.</a></p>
    </div>
    <div class="box2"> <img alt="" src="images/sampleimg.gif" width="190" height="120" />
      <h3>Guillermo López</h3>
      <p><a>Estudiante de Ingeniería de la Salud.</a></p>
    </div>
    <div class="box2"> <img alt="" src="images/sampleimg.gif" width="190" height="120" />
      <h3</h3>
      <p><a></a></p>
    </div>
  </div>
</div>
<!--BottomRow END-->


{% endblock %}
