<!--Header Begin-->
{%extends "header.html"%}
{%load staticfiles%}
{% block content%}

<!--SubPage Toprow Begin-->
        <div class="col-md-12 heading text-center" style="padding-top: 50px">
          <h1 class="to-animate hero-animate-1">About Us</h1>
          <h2 class="to-animate hero-animate-2">Its our group</h2>
        </div>
<!--Toprow END-->
<!--SubPage MiddleRow Begin-->
<div id="midrow">
  <div class="center">
    <div class="textbox2">
      <p><a>Somos un grupo de tres estudiantes de ingenieria de la salud</a></p>
      <p><a>
      <p><a></a></p>
    </div>
  </div>
</div>
<!--MiddleRow END-->
<!--SubPage BottomRow Begin-->
<div id="bottomrow">
  <div id="box2holder">
    <div class="box2"> <img alt="" src="images/sampleimg.gif" width="190" height="120" />
      <h3>Juan Ignacio Alvarez</h3>
      <p><a>Estudiante de Ingenieria de la Salud.</a></p>
    </div>
    <div class="box2"> <img alt="" src="images/sampleimg.gif" width="190" height="120" />
      <h3>Pablo Rodriguez</h3>
      <p><a>Estudiante de Ingenieria de la Salud.</a></p>
    </div>
    <div class="box2"> <img alt="" src="images/sampleimg.gif" width="190" height="120" />
      <h3>Guillermo Lopez</h3>
      <p><a>Estudiante de Ingenieria de la Salud.</a></p>
    </div>
    <div class="box2"> <img alt="" src="images/sampleimg.gif" width="190" height="120" />
      <h3></h3>
      <p><a></a></p>
    </div>
  </div>
</div>
<!--BottomRow END-->


{% endblock %}
