{%load staticfiles%}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Biosearch</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; utf-8" />
        <link rel="shortcut icon" href="images/favicon.gif" />
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <!--Header Begin-->
        <div id="header">
            <div class="center">
                <div id="logo"><a href="#">Biosearch</a></div>
                <!--Menu Begin-->
                <div id="menu">
                    <ul>
                        <li><a href="/"><span>Home</span></a></li>
                        <li><a  href="about"><span>About</span></a></li>
                        <li><a href="services"><span>Services</span></a></li>
                        <li><a href="contact"><span>Contact</span></a></li>
                    </ul>
                </div>
                <!--Menu END-->
            </div>
        </div>
{%block content%}

{% endblock %}
<!--MiddleRow Begin-->
<div id="midrow" style="z-index:1">
    <div class="box">
      <h1>Objetivo</h1>
      <a class="plan" href="#">Objetivos</a>
      <p><a>Nuestro plan es seguir creciendo para poder ofrecer al cliente la mejor experiencia de busqueda y la mayor informacion biologica asociada a rutas metabolicas posible.</a><br />
        <br />
        <a href="#" class="button"><span>Learn More</span></a></p>
    </div>
    <div class="box">
      <h1>Why Choose Us?</h1>
      <a class="whyus" href="#">Why Choose Us?</a>
      <p><a>Escogenos a nosotros si crees que podemos ayudarte a encotrar la informacion que necesitas, sin tener que saltar entre 8 buscadores biologicos distintos.</a><br />
        <br />
        <a href="#" class="button"><span>Learn More</span></a></p>
    </div>
    <div class="box last">
      <h1>Soporte</h1>
      <a class="support" href="#">Our Support</a>
      <p><a>Seguimos trabajando para mejorar esa pagina, esta pagina existe gracias al soporte de la universidad de Malaga.</a><br />
        <br />
        <a href="#" class="button"><span>Learn More</span></a></p>
    </div>
</div>
<!--MiddleRow END-->

<!--BottomRow Begin-->
<div id="bottomrow">
  <div class="textbox">
    <h1>Seguimos trabajando</h1>
    <a>Una ruta metabolica o via metabolica es una sucesion de reacciones quimicas donde un sustrato inicial se transforma y da lugar a productos finales, a traves de una serie de metabolitos intermediarios. Las diferentes reacciones de todas las rutas metabolicas estan catalizadas por enzimas y ocurren en el interior de las celulas. Muchas de estas rutas son muy complejas e involucran una modificacion paso a paso de la sustancia inicial para darle la forma del producto con la estructura quimica deseada. Es por esto que seguimos trabajando para poder agregar toda la informacion y metodos de busqueda posibles.</a> </div>
  <div class="feed"> <a href="#"><img alt="" src="{% static "images/twitter.png" %}" height="75" width="75" /></a> <a href="#"><img alt="" src="{% static "images/rss.jpg" %}" height="75" width="75" /></a> </div>
</div>
<!--BottomRow END-->
<div id="footer">
  <div class="foot"> <span>Biosearch</span> by <a href="https://www.uma.es/">Universidad de Malaga</a> is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License.</a> </div>
</div>
   

        <script type="text/javascript" src="{% static "js/mainFunctions.js" %}"></script>
    </body>
</html>