<!--Header Begin-->
{%extends "header.html"%}
{%load staticfiles%}
{% block content%}

<!--Toprow Begin-->
<div id="toprow" style="z-index:1">
    <div class="row" style="margin: 5px 20px 5px 20px">
        
        <!-- PATHWAY PANEL -->
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <!-- Texto Arriba de panel -->
                </div>
                <div class="panel-body text-center">
                    <!-- PANEL TITLE -->
                    <p class="lead" style="font-size:30px"><h2>Search Pathways</h2></p>
                    <!-- PATHWAY SEARCH BOX -->
                    <div class="btn-default-searchbox" style="margin-bottom: 10px">
                        <button id="pathway_submit" class="btn btn-primary">Search</button>
                        <input id="pathway_input" type="text"/>
                    </div>
                </div>
                <ul id="pathway_list" class="list-group list-group-flush text-center" style="overflow: auto; max-height: 500px" >
                    <!-- PATHWAY SEARCH RESULTS -->
                </ul>
            </div>
        </div>

        <!-- PANEL -->
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <!-- Texto Arriba de panel -->
                </div>
                <div class="panel-body text-center">
                    <!-- PANEL TITLE -->
                    <p class="lead" style="font-size:30px"><h2>Reactions</h2></p>
                </div>
                <ul id="reaction_list" class="list-group list-group-flush text-center" style="overflow: auto; max-height: 500px">
                    <!-- REACTION SEARCH RESULTS -->
                </ul>
            </div>
        </div>

        <!-- PANEL -->
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <!-- Texto Arriba de panel -->
                </div>
                <div class="panel-body text-center">
                    <!-- PANEL TITLE -->
                    <p class="lead" style="font-size:30px"><h2>Components</h2></p>
                </div>
                <ul id="component_list" class="list-group list-group-flush text-center" style="overflow: auto; max-height: 500px">
                </ul>
                
            </div>
        </div>

        <!-- PANEL -->
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <!-- Texto Arriba de panel -->
                </div>
                <div class="panel-body text-center">
                    <!-- PANEL TITLE -->
                    <p class="lead" style="font-size:30px"><h2>Info</h2></p>
                </div>
                <ul id="component_info" class="list-group list-group-flush text-center" style="overflow: auto; max-height: 500px">
                </ul>
            </div>
        </div>

    </div>

</div>
<!--Toprow END-->

{% endblock %}