<!--Header Begin-->
{%extends "header.html"%}
{%load staticfiles%}
{% block content%}

    <!--SubPage Toprow Begin-->
        <div class="col-md-12 heading text-center" style="padding-top: 50px">
          <h1 class="to-animate hero-animate-1">Services</h1>
        </div>
    </div>
    <!--Toprow END-->
    <!--SubPage MiddleRow Begin-->
                <div class="animate-box fh5co-product-2">
                <div class="fh5co-half img" style="background-image: url({% static "images/img_large_6.jpg" %});"></div>
                <div class="fh5co-half">
                    <h3>Buscador de rutas metabolicas</h3>
                    <p></p>
                    <p><a href="/" class="btn btn-primary btn-md">Get Started</a></p>
                </div>
            </div>

            <div class="animate-box fh5co-product-2 fh5co-reverse">
                <div class="fh5co-half img" style="background-image: url({% static "images/img_large_1.jpg" %});"></div>
                <div class="fh5co-half">
                    <h3>Biosearch</h3>
                    <p></p>
                    <p><a href="/" class="btn btn-primary btn-md">Get Started</a></p>
                </div>
            </div>
  
   
{% endblock %}